<% provide(:title, "Login") %>
<div class="row">
    <div class="large-offset-3">
        <div class="medium-6">
            <%= form_for(:session, url: login_path) do |f| %>
                <h1>Login here</h1>
                <%= f.label :email%>
                <%= f.email_field :email %>
                <%= f.label :password %>
                <%= f.password_field :password %>
                <h5>Or Signup Here if you ain't here yet  <%= link_to "Signup", new_user_path %></h5>
                <%= f.submit "Login" %>
                
            <% end %>
        </div>
    </div>
</div>

