<% provide(:title, "Login") %>
<div class="row">
    <div class="large-offset-3">
        <div class="medium-6">
            <%= form_for(:sesson, url: login_path) do |f| %>
                <h1>Login here</h1>
            <%# <%= render 'shared/errors', object: f.object  %1> %>
                <%= f.label :reg%>
                <%= f.text_field :reg %>
                <%= f.label :password %>
                <%= f.password_field :password %>
                <%= f.submit "Login" %>
            <% end %>
        </div>
    </div>
</div>

