<table>
    <thead>
        <th> First name</th> 
        <th>Last name  </th>
        <th>Email  </th> 
        <th>Registration number  </th> 
        <th> Phone Number </th> 
    </thead>
    <tr>
        <td> <%= @user.email %> </td>
        <td> <%= @user.f_name %> </td>
        <td> <%= @user.l_name %> </td>
        <td> <%= @user.reg %> </td>
        <td> <%= @user.phone%> </td>
    </tr>
</table>
