<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <title><%=  yield(:title)  %> | Lecturer Student Feedback </title>

      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
  </head>

  <body>
      <%= render 'shared/top-bar' %>
      <% flash.each do |type, msg| %>
          <div class="callout small <%= type %>" data-closable>
              <%= msg %></div>
      <% end %>

      <%= yield %>

  </body>
</html>
